<!-- Lightbox library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" integrity="sha512-+QZ4yJzJ6x7jzJzv5ZL5t9+J8zJf8Jzv5ZL5t9+J8zJf8Jzv5ZL5t9+J8zJf8Jzv5ZL5t9+J8zJf8Jzv5ZL5t9g==" crossorigin="anonymous" />

<!-- Masonry library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>

<!-- Gallery styles -->
<link rel="stylesheet" href="/css/gallery.css">

<div class="grid">
  {% for image in page.gallery %}
    <div class="grid-item">
      <a href="{{ image.url }}" data-toggle="lightbox" data-gallery="gallery">
        <img src="/{{ image.image_path }}" alt="{{ image.alt }}" />
      </a>
    </div>
  {% endfor %}
</div>

<script>
  var grid = document.querySelector('.grid');
  var masonry = new Masonry(grid, {
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true
  });
</script>