<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>

<div class="grid">
  {% for image in page.gallery %}
    <div class="grid-item">
      <a href="{{ image.url }}" data-toggle="lightbox" data-gallery="gallery">
        <img src="{{ image.image_path }}" alt="{{ image.alt }}" />
      </a>
    </div>
  {% endfor %}
</div>

<script>
  var grid = document.querySelector('.grid');
  var masonry = new Masonry(grid, {
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true
  });
</script>