/* Lightbox styles */
.lb-outerContainer {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .lb-image {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .lb-nav a.lb-prev, .lb-nav a.lb-next {
    background: rgba(0, 0, 0, 0.8);
  }
  
  /* Masonry styles */
  .grid {
    /* display: flex;
    flex-wrap: wrap; */
    margin: 0 auto;
  }
  
  .grid-item {
    margin-bottom: 20px;
  }
  
  .grid-sizer {
    width: 33.333%;
  }

  .grid-item img {
    max-width: 10%;
  }


  /* .grid-item {
    width: 200px;
    margin-bottom: 10px;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid-item {
    width: 200px;
    margin-bottom: 10px;
  }
   */