---
layout: default
---

<article class="page">
  <header class="page-header">
    <h1>{{ page.title }} ({{page.number}}</h1>
     {% if page.university %}
      <p>{{ page.university}}, {{page.department}}</p>
    {% endif %}
    {% if page.semester %}
      <p>Taught {{ page.semester }} in {{page.location}}</p>
    {% endif %}
  </header>
  
  <h3>Course Details</h3>
  {% if page.role}
    <p> <strong>Role:</strong> {{ page.role }}</p>
  {% endif %}
  {% if page.level}
    <p> <strong>Course Level:</strong> {{ page.level }}</p>
  {% endif %}
  {% if page.instructor}
    <p> <strong>Primary Instructor:</strong> {{ page.instructor }}</p>
  {% endif %}
  {% if page.description}
    <p> <strong>Course Description:</strong> {{ page.description }}</p>
  {% endif %}
  {% if page.responsibilities}
    <p> <strong>Course Level:</strong> {{ page.responsibilities }}</p>
  {% endif %}

  <h3>Teaching Evaluations</h3>
  {% if page.overall}
    <p> <strong>Overall Assessment:</strong> {{ page.overall}}/5 </p>
  {% endif %}
  {% if page.evaluations}
    <p>See full text of student evaluations here: <a href="{{ page.evaluations }}" target="_blank">{{ page.evaluations }}</a></p>
  {% endif %}
  
  <h3>Syllabus</h3>

  {% if page.syllabus %}
  <!--     <h3>Available at</h3> -->
   <iframe src="{{ page.syllabus | relative_url }}" width="100%" height="1000px" style="border: none;">
      This browser does not support PDFs. Please <a href="{{ page.syllabus }}">download the file</a> instead.
    </iframe>
  {% else}
  Available upon request.
  {% endif %}

</article>
